

DATABASE_URL=""

JWT_SECRET = 'asdfasdfasdfasdfadsf'
JWT_EXPIRES_IN = '15m'
REFRESH_TOKEN_EXPIRY = 604800 # 7 days in seconds

ACCESS_TOKEN_EXPIRY=3600 #1hr in seconds
REFRESH_TOKEN_EXPIRY = 604800 # 7 days in seconds
ACCESS_TOKEN_SECRET='asdfasdfasdfadsfadsf'
REFRESH_TOKEN_SECRET=yourrefreshtokensecret

CLIENT_URL=http://localhost:3000